@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-albescent-white-50: #fbf8f1;
  --color-albescent-white-100: #f4e9d2;
  --color-albescent-white-200: #eedbba;
  --color-albescent-white-300: #e2c28f;
  --color-albescent-white-400: #d5a262;
  --color-albescent-white-500: #cc8943;
  --color-albescent-white-600: #be7438;
  --color-albescent-white-700: #9e5c30;
  --color-albescent-white-800: #7f4a2d;
  --color-albescent-white-900: #673e27;
  --color-albescent-white-950: #371f13;

  --color-blue-chalk-50: #faf5ff;
  --color-blue-chalk-100: #f3e8ff;
  --color-blue-chalk-200: #e9d5ff;
  --color-blue-chalk-300: #d7b4fe;
  --color-blue-chalk-400: #bd84fc;
  --color-blue-chalk-500: #a255f7;
  --color-blue-chalk-600: #8b33ea;
  --color-blue-chalk-700: #7422ce;
  --color-blue-chalk-800: #6221a8;
  --color-blue-chalk-900: #4f1c87;
  --color-blue-chalk-950: #330764;
}

* {
  font-family: Poppins, sans-serif;
}

.loader {
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app-container {
  display: grid;
  width: 100%;
  min-height: 100dvh;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr 1fr;
  transition: all ease-in-out 0.5s;
  background-color: rgb(243, 243, 246);
}

.navbar {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  padding-right: 10px;
  display: flex;
  justify-content: end;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: white;
}

.main {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: 80vh;
}

@media (max-width: 1200px) {
  .app-container {
    grid-template-columns: 50px 1fr;
  }

  .main {
    grid-column: 2 / 4;
  }
}
